footer.b-footer
	.container
		.row
			.col-md-4
				h1.b-footer__title AOD New York
				h3.b-footer__text 2250 Lexington Avenue <br>New York, NY 10035  - info@domain.com
			.col-md-4
				.b-footer__item
					.b-footer__icons
						a(href="#")
							img(src="img/twit.png", alt="")
					.b-footer__icons
						img(src="img/face.png", alt="1")
					.b-footer__icons
						img(src="img/pint.png", alt="1")
			.col-md-4
				.b-footer__author
					h2.b-footer__author__text Handcrafted by:
					img(src="img/y-e-b-o-logo.png", alt="1")


			