header.b-header#b-header
	.container
		img(src="img/header-logo.png", alt="header logo").b-header__logo
		.b-header__menu--first.menu
			ul
				li
					a(href="#about") About us ~
				
				li
					a(href="#work") work ~

		.b-header__menu--second.menu
			ul
				li
					a(href="#shop") Shop   ~
				li
					a(href="#contact") contact   ~
		//hamburger
		input#menu-toggle(type='checkbox')
		// Hamburger
		label(for='menu-toggle')
			span
			span
			span
		// Menu
		.menu-header
			div
				a(href='#about') About us ~
			div
				a(href='#work')  work ~
			div
				a(href='#') Shop   ~
			div
				a(href='#') contact   ~
					




	


		 

		  
		




						
		